:{$CADDY_PORT} {
    handle /api/v1/* {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle /swagger-ui/* {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle /v3/api-docs/swagger-config {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle /api/* {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle /dtos/* {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle /security/* {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle /actuator/* {
        reverse_proxy {$SPRING_HOST}:{$SPRING_PORT}
    }

    handle {
        root * /var/www/static
        file_server
    }
}