# Redis
REDIS_HOST=redis
REDIS_PORT=6769
REDIS_OUTER_PORT=6769
REDIS_USERNAME=redis
REDIS_PASSWORD=redis
# Postgres
POSTGRES_DB=local
POSTGRES_USER=local
POSTGRES_PASSWORD=local
POSTGRES_HOST=postgres
POSTGRES_PORT=5555
POSTGRES_OUTER_PORT=5555
# JWT
JWT_ISSUER=skladinya
JWT_SECRET=qwerty123
JWT_TTL=3333
# Spring
SPRING_PROFILES_ACTIVE=dev
SPRING_HOST=spring
SPRING_PORT=8080
# Mail
MAIL_HOST=greenmail
MAIL_PORT=3025
MAIL_CHECK_PORT=8000
MAIL_USERNAME=noreply@skladinya.cock
MAIL_PASSWORD=wh3r3fr0nt3ndF3l1x
MAIL_AUTH=true
MAIL_STARTTLS=true
# Payments
PAYMENT_TIMEOUT=15
# Caddy
CADDY_HOST=caddy
CADDY_PORT=8080
CADDY_OUTER_PORT=8080